* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  display: block;
}

#product-overview {
  width: 100%;
  height: 400px;
  background: url("freedom.jpg");
  display: flex;
  align-items: center;
  justify-content: center;
}

#product-overview h1 {
  color: white;
  font-family: 'Anton', sans-serif;
}

.section-title {
  color: #2ddf5c;
  font-family: inherit;
  text-align: center;
  margin: 8px 0;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 16px;
  margin: 8px;
  display: inline-block;
  width: 30%;
  vertical-align: middle;
}

.plan h1, h2, h3 {
  line-height: 2;
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
}

.plan__annotation {
  background: white;
  color: #19b84c;
  box-shadow: 2px 2px 2px 2px rgba(0 ,0, 0, 0.5);
  border-radius: 8px;
}

.plan__features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan__features li {
  margin: 8px 0;
}

.plan__feature {
  margin: 8px 0;
}

.main-header {
  background: #2ddf5c;
  width: 100%;
  padding: 8px 16px;
}

.main-header > div {
  display: inline-block;
  vertical-align: middle;
}

.main-header__brand {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  font-size: 22px;
}

.main-nav {
  display: inline-block;
  text-align: right;
  width: calc(100% - 80px);
  vertical-align: middle;
}

.main-nav__items {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-nav__item {
  display: inline-block;
  margin: 0 16px;
}

.main-nav__item a {
  color: #0e4f1f;
  text-decoration: none;
  font-weight: bold;
  padding: 2px;
}

.main-nav__item a:hover,
.main-nav__item a:active {
  color: white;
  border-bottom: 5px solid white;
}

.main-nav__item--cta a {
  color: white;
  background: #ff1b68;
  padding: 8px 16px;
  border-radius: 8px;
}

.main-nav__item--cta a:hover,
.main-nav__item--cta a:active {
  color: #ff1b68;
  background: white;
  border: none;
}